<div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light" id="user-id" data-id="<%= user._id %>">
        <div class="media d-flex align-items-center"><img src="<%= locals.user.avatar %>" width="65" class="mr-2 rounded-circle img-thumbnail shadow-sm user-avatar">
            <div class="media-body">
                <h4 class="m-0 navbar-info-text"><%= locals.user.fullname %></h4>
                <p class="font-weight-light text-muted mb-0 navbar-info-text"><%= locals.user.department %></p>
            </div>
        </div>
    </div>

    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic bg-light ml-3">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic ml-3">
                About
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic ml-3">
                About
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic ml-3">
                About
            </a>
        </li>
    </ul>

    <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Charts</p>

    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic ml-3">
                Area charts
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic ml-3">
                Bar charts
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic ml-3">
                Pie charts
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic ml-3">
                Line charts
            </a>
        </li>
    </ul>
</div>