<form action="#">
    <div class="form-row">
        <div class="col-1">
            <img src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
        </div>

        <div class="col-11">
            <textarea class="form-control" rows="3" name="post-content"></textarea>
        </div>
    </div>

    <div class="custom-control mt-3 ml-5">
        <div class="custom-file">
            <input type="file" class="custom-file-input" accept="image/*">
            <label class="custom-file-label" for="customFile">Đính kèm ảnh</label>
        </div>
    </div>

    <div class="custom-control mt-3 ml-5">
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Đính kèm video (Youtube)</div>
            </div>
            <input type="text" class="form-control" placeholder="Nhập vào đường link Video youtube">
        </div>
    </div>

    <hr>

    <div class="d-flex flex-row-reverse">
        <button type="submit" class="btn btn-primary">Đăng bài</button>
    </div>
    
</form>