<div>
    <div class="form-row align-items-center px-2">
        <div class="w-100">
            <input id="input_tag_new_post" data-toggle="modal" data-target="#newPostModal" type="text" class="form-control shadow-none mr-2" placeholder="Bạn đang nghĩ gì?" readonly>
        </div>
    </div>
</div>