<!-- new notification modal -->
<div class="modal fade" id="new-notification" tabindex="-1" role="dialog" aria-labelledby="new-notification-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="new-notification-label">Đăng thông báo mới</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <form action="./notification/createNewNotification" id="notification-form" method="POST" enctype="multipart/form-data">
            
            <div>
                <label for="notification-title" class="mb-0 mx-1">Tiêu đề thông báo</label>
                <input placeholder="Tiêu đề thông báo" type="text" class="form-control" id="notification-title" name="title">
            </div>

            <div class="mt-3">
                <label for="notification-content" class="mb-0 mx-1">Nội dung thông báo</label>
                <textarea placeholder="Nội dung thông báo" rows="5" type="text" class="form-control" id="notification-content" name="content"></textarea>
            </div>

            <div class="mt-3 ml-1">
                <label for="notification-content" class="mb-0 mx-1">Ảnh đính kèm</label>

                <div class="custom-file">
                    <input id="notification-file" type="file" class="custom-file-input" multiple="multiple" name="notification_files">
                    <label class="custom-file-label" for="customFile">Đính kèm ảnh</label>
                </div>
            </div>

            <div class="ml-1 mt-3">
                <label class="mb-0 mx-1">Chọn phòng ban</label>

                <select class="custom-select ml-0 mb-3" name="subject">
                    <option value="" selected>Chọn chuyên mục</option>

                    <% if (locals.permissionNoti) { %>
                    <% locals.permissionNoti.forEach(p => { %>
                        <% if (p.trim() != "") { %>
                        <option value="<%= p %>"><%= p %></option>
                        <% } %>
                    <% }) %>
                    <% } %>

                </select>
            </div>
        
            <hr>
        
            <div class="d-flex flex-row-reverse">
                <button type="reset" class="btn btn-danger" id="new-notification-btn-cancel">Hủy</button>
                <button type="submit" class="btn btn-primary mx-2" id="new-notification-btn">Đăng bài</button>
            </div>
            </form>
        </div>
        </div>
    </div>
</div>

<!-- amend notification modal -->
<div class="modal fade" id="amend-notification" tabindex="-1" role="dialog" aria-labelledby="new-notification-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="amend-notification">Cập nhật thông báo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <form id="amend-notification-form">
            
            <div>
                <label for="notification-title" class="mb-0 mx-1">Tiêu đề thông báo</label>
                <input placeholder="Tiêu đề thông báo" type="text" class="form-control" id="amend-notification-title" name="title">
            </div>

            <div class="mt-3">
                <label for="notification-content" class="mb-0 mx-1">Nội dung thông báo</label>
                <textarea placeholder="Nội dung thông báo" rows="5" type="text" class="form-control" id="amend-notification-content" name="content"></textarea>
            </div>

            <div class="mt-3 ml-1">
                <label for="notification-content" class="mb-0 mx-1">Ảnh đính kèm</label>

                <div class="custom-file">
                    <input id="notification-file" type="file" class="custom-file-input" multiple="multiple" name="amend_notification_files">
                    <label class="custom-file-label" for="customFile">Đính kèm ảnh</label>
                </div>
            </div>

            <div class="ml-1 mt-3">
                <label class="mb-0 mx-1">Chọn phòng ban</label>

                <select class="custom-select ml-0 mb-3" name="amend_subject" id="amend-notification-subject">
                    <option value="" selected>Chọn chuyên mục</option>

                    <% if (locals.permissionNoti) { %>
                    <% locals.permissionNoti.forEach(p => { %>
                        <% if (p.trim() != "") { %>
                        <option value="<%= p %>"><%= p %></option>
                        <% } %>
                    <% }) %>
                    <% } %>
                    
                </select>
            </div>
        
            <hr>
        
            <div class="d-flex flex-row-reverse">
                <button type="reset" class="btn btn-danger">Hủy</button>
                <button type="button" class="btn btn-primary mx-2" id="amend-notification-btn-modal">Cập nhật</button>
            </div>
            </form>
        </div>
        </div>
    </div>
</div>