.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
}

.vertical-nav {
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
}

.notifications-area {
    width: 25%;
    position: fixed;
}

/* .right-part {
    background-color: #f0f2f5;
    height: 100vh;
    overflow-y: scroll;
} */

@media (max-width: 990px) {
    .vertical-nav {
        display: none;
    }

    .notifications-area {
        width: 90%;
        margin: 3vw;
    }

    .right-part {
        width: 90%;
    }
}

span .writer-name {
    color: black;
    text-decoration: none!important;
}

.notification-sm-window {
    text-decoration: none!important;
    color: inherit;
}

.upload-photo {
    max-height: 500px;
}

.more-option {
    width: 40px;
    height: 40px;
}

.more-option:hover {
    background-color: #f0f2f5;
}

.more-option:focus {
    box-shadow: none;
}

.show-all-comment {
    text-decoration: underline !important;
    color: blue !important;
}

#image-background {
    display: table;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/tdtu.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* login pages */
html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #f0f2f5;
    box-sizing: border-box;
}

.login-form {
    min-width: 300px;
    min-height: 460px;
    border-radius: 14px;
    box-shadow: 0 6px 12px 4px rgba(140, 140, 140, 0.9)
}

.btn-login {
    height: 45px;
}

.login-form input[type="password"],
input[type="email"] {
    height: 45px;
}



/* Tri */


/* Change Password */

.changePassword {
    min-width: 180px;
}


/* Department Líst */

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 90px;
    left: 90px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.mix {
    width: 180px;
    /*width of your image*/
    height: 180px;
    /*height of your image*/
    background-image: url('./images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 180px 180px;
    margin: 0;
    /* If you want no margin */
    padding: 0;
    /*if your want to padding */
    border: 1px solid;
}

.phongban {
    position: absolute;
    text-transform: uppercase;
    bottom: 0;
    text-align: center;
    width: 180px;
    background-color: black;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hover1 {
    max-width: 180px;
    margin-right: 3.5px;
    padding: 0px;
}

@media (max-width: 1344px) and (min-width: 1110px) {
    .hover1 {
        margin-right: 10px;
    }
}

@media (max-width: 1109px) and (min-width: 960px) {
    .hover1 {
        margin-right: 40px;
    }
}

@media (max-width: 945px) {
    .hover1 {
        margin-right: auto;
    }
}

.hover1:hover .image {
    opacity: 0.3;
}

.hover1:hover .middle {
    opacity: 1;
}

.all-notifications input[type="text"] {
    width: 35%;
    min-width: 275px;
}

.all-notifications button,
input,
optgroup,
select,
textarea {
    margin: 4px;
}

.phongkhoa {
    min-width: 160px;
}


/* Register */

.register-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form {
    padding: 20px 35px;
    margin-top: 20px;
    background-color: #fff;

    min-width: 300px;
    min-height: 460px;
    border-radius: 14px;
    box-shadow: 0 6px 12px 4px rgba(140, 140, 140, 0.9)
}

.form-input {
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: #222;
}

.dropdown-menu {
    max-height: 200px;
    max-width: 400px;
    overflow: auto;
}

.register-form h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.register-background {
    background-image: linear-gradient(to top, darkorange, rgb(239, 174, 96));
    min-height: 100%;
}

.register-form .form-submit {
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: none;
    background-image: linear-gradient(to left, rgb(132, 132, 247), rgb(151, 213, 247));
}

.form-back-home {
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: none;
    background-image: linear-gradient(to right, rgb(132, 132, 247), rgb(151, 213, 247));
}

select {
    max-width: 100%;
    max-height: 80px;
}

option {
    margin-top: 3px;
    white-space: normal;
}


/* Profile */

.profile-content {
    max-width: 450px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#upload{
    display:none
}

.avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    
    object-fit: contain;
}

.profile-content .form-submit {
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: none;
    background-image: linear-gradient(to left, rgb(132, 132, 247), rgb(151, 213, 247));
}

/* Vi */
#input_tag_new_post:focus {
    outline: none;
    border: none;
}

.preview-images {
    width: 20%;
    height: auto;
}

#preview_div {
    display: none
}

.carousel-inner {
    max-width: 100%;
    max-height: 460px;
    background-color: #212121;
    opacity: 0.8;
}

.carousel-item img {
    object-fit: contain;
    max-height: 450px;
}

.media-body .div-content {
    min-height: 35px
}

/* home */
#toast-notification {
    position: fixed; 
    bottom: 10px; 
    right: 30px;
}

.youtube-video-frame {
    min-height: 500px;;
}

.navbar-info-text {
    max-width: 157px;
    overflow-wrap: break-word;
}

.user-avatar {
    width: 65px;
    height: 65px;
    object-fit: contain;
}

.author-post-avatar {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.author-comment-avatar {
    width: 56px;
    height: 56px;
    object-fit: contain;
}

.empty-option {
    min-width: 40px;
    min-height: 40px;
}

iframe {
    border: 1px solid gray;
    border-radius: 5px;
}

.background-personal {
    height: 25vh;
    min-height: 320px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/tdtu.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.persional-info-avatar {
    width: 150px;
    height: 150px;
    /* margin-top: -60px; */
    margin-left: 40px;
    object-fit: contain;
}

.personal-info {
    padding-top: 140px;
}

.personal-text {
    color: #eceff1;
}

.invalid-message {
    display: none;
}