<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thay đổi mật khẩu</title>

    <%- include('../partials/head.ejs') %>
</head>

<body id="image-background">
    <div class="h-100 d-flex mr-5">
        <div class="w-25 px-4 py-2 align-self-center register-form container mr-5">
            <div class="row">
                <div class="w-100 px-3 pt-4 pb-2">
                    <h2 class="justify-content-center text-center">Thay đổi mật khẩu</h2>
                    <form method="post" class="my-4">
                        <div class="form-group">
                            <label class="mx-1 my-0">Mật khẩu hiện tại</label>
                            <input value="<%= locals.password %>" type="password" placeholder="Mật khẩu hiện tại" class="form-control" id="password" name="password">
                        </div>
                        <div class="form-group">
                            <label class="mx-1 my-0">Mật khẩu mới</label>
                            <input type="password" placeholder="Mật khẩu mới" class="form-control" id="newpassword" name="newpassword">
                        </div>
                        <div class="form-group">
                            <label class="mx-1 my-0">Xác nhận mật khẩu mới</label>
                            <input type="password" placeholder="Xác nhận mật khẩu mới" class="form-control" id="re-newpassword" name="re_newpassword">
                        </div>

                        <% if (locals.error && locals.error != '') { %>                
                            <div class="alert alert-danger">
                                <%= error  %>
                            </div> 
                        <% } %>
                        
                        <div class="form-group">
                            <button type="submit" id="submit" class="form-submit btn">Thay đổi</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</body>
</html>