<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thay đổi mật khẩu</title>

    <%- include('../partials/head.ejs') %>
</head>

<body>
    <div class="container">
        <div class="changePassword text-center shadow-lg p-3 mb-5 bg-white rounded">
            <h2 class="text-uppercase"><b>Thay đổi mật khẩu</b></h2>
            <p class="text-danger"><b>Nên đặt mật khẩu có ít nhất 1 ký tự chữ viết hoa, 1 ký tự số và 1 ký tự đặc biệt để đảm bảo an toàn cho tài khoản.</b></p>

            <form action="#" method="POST" id="changePassword" class="changePassword w-25 mx-auto text-left">
                <div class="form-group">
                    <label><b>Mật khẩu hiện tại</b></label>
                    <input type="password" class="form-control" id="password" name="matkhau" value="">
                </div>
                <div class="form-group">
                    <label><b>Mật khẩu mới</b></label>
                    <input type="password" class="form-control" id="matkhaumoi" name="matkhaumoi" value="">
                </div>
                <div class="form-group">
                    <label><b>Xác nhận mật khẩu mới</b></label>
                    <input type="password" class="form-control" id="nhaplaimatkhaumoi" name="nhaplaimatkhaumoi" value="">
                </div>
                <div class="form-group text-center">
                    <button type="submit" action="#" class="btn btn-primary">Lưu lại</button>
                </div>
            </form>

        </div>

</body>

</html>