<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <%- include('../partials/head.ejs') %>
</head>

<body>
    <div class="container mt-3">
        <div class="profile-content">
            <form action="#" id="profile-form" class="profile-form">
                <div class="change-avatar"><img src="http://via.placeholder.com/100" class="avatar" alt="100px"><a href="#"> Thay đổi ảnh đại diện</a></div>
                <div class="form-group"><input type="text" placeholder="Tên hiển thị" class="form-input" id="tenhienthi"></div>
                <div class="form-group"><input type="text" placeholder="Lớp" class="form-input" id="lop"></div>
                <div class="form-group"><input type="text" placeholder="Khoa" class="form-input" id="khoa"></div>
                <div class="form-group"><input type="submit" name="submit" id="submit" class="form-submit" value="Lưu thay đổi"></div>
            </form>
        </div>
    </div>
</body>

</html>